{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="top-section scrolling-section">
  <div class="home-container">
    <h1>The Miracle Database</h1>
  </div>
</div>
<div class="bottom-section">
  <div class="home-text">
    <h2>The Miracle Database is a project developed to categorize and popularize miracle narratives. It is an open-access research. Make sure to visit the About section to learn more about its developer. Enter our database by navigating our menu or by clicking the button below.</h2>
  </div>
</div>
{% endblock %}
