table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #E5EAF5;
    color: black;
  }
  
  .navbar-custom {
    background-color: #8458B3; 
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .top-section {
    background-color: #494D5F;
    height: 30vh;
    margin: 0;
    padding: 0;
  }
  
  .bottom-section {
    background-color: #FFFFFF;
    height: 50vh;
    margin: 0;
    padding: 0;
  }
  
  .container {
    margin: 0;
    padding: 0;
  }
  
  .home-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 30vh;
  }
  
  h1 {
    color: #D9D9D9;
  }
  
  .home-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 30vh;
  }
  
  h2 {
    color: black;
    font-size: medium;
  }